
.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint('medium') {
        flex-direction: row;
    }
}

.grid__item {
    @include rem(min-width, 200px);
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit minmax(200px, 1fr));
    }

    .grid__item {
        display: block;
        width: 100%;
    }
}
