
.hamburger {
    @include rem(height, 2px);
    @include rem(width, 28px);
    background-color: $color-primary;
    display: block;
    position: relative;

    &:before,
    &:after {
        @include rem(height, 2px);
        @include rem(width, 28px);
        background-color: $color-primary;
        content: '';
        display: block;
        position: absolute;
        transform-origin: 25px;
        transition: top .2s ease .4s,bottom .2s ease .4s,transform .4s ease,background-color .4s ease;
        right: 0;
    }

    &:before {
        @include rem(top, -8px);
    }

    &:after {
        @include rem(bottom, -8px);
    }

    &__wrapper {
        @include rem(height, 22px);
        @include rem(right, 20px);
        align-items: center;
        color: $grey;
        display: inline-flex;
        cursor: pointer;
        position: absolute;
        text-transform: uppercase;
        z-index: 10;
        
        @include breakpoint(700px) {
            display: none;
        }

        
        &.is-active {
            .hamburger {
                background-color: transparent;

                &:before,
                &:after {
                    transform: rotate(-45deg);
                }

                &:before {
                    transform: rotate(-45deg);
                }
            
                &:after {
                    transform: rotate(45deg);
                }    
            }
        }
    }
}
