
.modal-overlay {
    background-color: transparent;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: background-color .4s ease;
    z-index: -10;
}

.modal-canvas {
    @include rem(max-width, 600px);
    @include rem(padding, 30px);
    background-color: $white;
    overflow: auto;
    position: absolute;
    top: -100%;
    transition: top .3s ease;
    transform: translateY(-50%);
    width: 100%;
    z-index: 10;
}

.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 10;

    .icon-close {
        @include rem(right, 10px);
        @include rem(top, 10px);
        position: absolute;
    }

    &.is-zoomed {
        .modal-overlay {
            background-color: rgba(0, 0, 0, .8);
            z-index: 10;
        }

        .modal-canvas {
            top: 50%;
        }
    }
}
