//
// Reusable column layout
//

.col-set {
    @include breakpoint('medium') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@supports (display: grid) {
    .col-set {
        @include rem(grid-column-gap, 10px);
        display: grid;

        @include breakpoint('medium') {
            display: grid;
        }
    }

    .col-set-2 {
        grid-template-columns: minmax(100px, 1fr) 3fr;
    }

    .col-set-3 {
        grid-template-columns: 1fr 3fr 1fr;
    }
}
