//
// Reusable column layout
//
.colset {    
    @include rem(margin, 0 -10px);
    display: flex;
    flex-direction: column;
    position: relative;
    
    @include breakpoint($small) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.colset--nowrap {
    flex-wrap: nowrap;
}

.col {
    @include rem(padding, 0 10px);
    flex: 1;
    position: relative;
}

.colset {
    .col {
        @include rem(margin-bottom, 20px);

        @include breakpoint($medium) {
            margin-bottom: 0;
        }
    }
}

.colset--2 {
    .col {
        flex: 1;

        @include breakpoint($medium) {
            flex: 0 0 calc(100% / 2);
            max-width: calc(100% / 2);
        }
    }
}

.colset--3 {
    .col {
        flex: 1;

        @include breakpoint($small) {
            flex: none;
            max-width: calc(100% / 2);
            width: 100%;
        }

        @include breakpoint($medium) {
            flex: none;
            max-width: calc(100% / 3);
            width: 100%;
        }
    }
}

.colset--4 {
    .col {
        flex: 1;

        @include breakpoint($small) {
            flex: 0 0 calc(100% / 2);
        }

        @include breakpoint($large) {
            flex: 0 0 calc(100% / 4);
        }

    }
}
